ReportManager/Connected Services/ServiceReference/ReportManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Alarm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Alarm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51016/Infrastructure/ReportManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" />
  <xs:complexType name="ArrayOfAlarmInvocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmInvocation" nillable="true" type="tns:AlarmInvocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmInvocation" nillable="true" type="tns:ArrayOfAlarmInvocation" />
  <xs:complexType name="AlarmInvocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="LimitDeltaValue" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" minOccurs="0" name="Priority" type="q1:Priority" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmInvocation" nillable="true" type="tns:AlarmInvocation" />
</xs:schema>