ReportManager/Connected Services/ServiceReference/ReportManager4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51016/Infrastructure/ReportManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" />
  <xs:complexType name="ArrayOfInputTagValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputTagValue" nillable="true" type="tns:InputTagValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputTagValue" nillable="true" type="tns:ArrayOfInputTagValue" />
  <xs:complexType name="InputTagValue">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" minOccurs="0" name="DriverType" type="q1:DriverType" />
      <xs:element minOccurs="0" name="InputTagType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputTagValue" nillable="true" type="tns:InputTagValue" />
</xs:schema>