DatabaseManager/Connected Services/ServiceReference/DatabaseManager3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" />
  <xs:complexType name="DigitalInputTag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" base="q1:InputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalInputTag" nillable="true" type="tns:DigitalInputTag" />
  <xs:complexType name="DigitalOutputTag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" base="q2:OutputTag">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalOutputTag" nillable="true" type="tns:DigitalOutputTag" />
  <xs:complexType name="AnalogOutputTag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" base="q3:OutputTag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogOutputTag" nillable="true" type="tns:AnalogOutputTag" />
  <xs:complexType name="ArrayOfAnalogOutputTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnalogOutputTag" nillable="true" type="tns:AnalogOutputTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnalogOutputTag" nillable="true" type="tns:ArrayOfAnalogOutputTag" />
  <xs:complexType name="ArrayOfDigitalInputTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DigitalInputTag" nillable="true" type="tns:DigitalInputTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDigitalInputTag" nillable="true" type="tns:ArrayOfDigitalInputTag" />
  <xs:complexType name="ArrayOfDigitalOutputTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DigitalOutputTag" nillable="true" type="tns:DigitalOutputTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDigitalOutputTag" nillable="true" type="tns:ArrayOfDigitalOutputTag" />
</xs:schema>