DatabaseManager/Connected Services/ServiceReference/DatabaseManager4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" />
  <xs:complexType name="TagsState">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" minOccurs="0" name="AnalogInputTags" nillable="true" type="q1:ArrayOfAnalogInputTag" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" minOccurs="0" name="AnalogOutputTags" nillable="true" type="q2:ArrayOfAnalogOutputTag" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" minOccurs="0" name="DigitalInputTags" nillable="true" type="q3:ArrayOfDigitalInputTag" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" minOccurs="0" name="DigitalOutputTags" nillable="true" type="q4:ArrayOfDigitalOutputTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagsState" nillable="true" type="tns:TagsState" />
</xs:schema>