DatabaseManager/Connected Services/ServiceReference/DatabaseManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" />
  <xs:complexType name="InputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" minOccurs="0" name="DriverType" type="q1:DriverType" />
          <xs:element minOccurs="0" name="Scan" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InputTag" nillable="true" type="tns:InputTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IOAddress" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="OutputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputTag" nillable="true" type="tns:OutputTag" />
</xs:schema>