DatabaseManager/Connected Services/ServiceReference/DatabaseManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DatabaseManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain" />
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag.Abstraction" />
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Enumeration" />
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Tag" />
      <xsd:import schemaLocation="http://localhost:51016/Infrastructure/DatabaseManager.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Infrastructure.Domain.Alarm" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddDigitalInputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputTag" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddDigitalInputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddDigitalOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputTag" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddDigitalOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddAnalogInputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputTag" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddAnalogInputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddAnalogOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputTag" />
  </wsdl:message>
  <wsdl:message name="ITagManager_AddAnalogOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagManager_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="ITagManager_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagManager_GetTagsState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsState" />
  </wsdl:message>
  <wsdl:message name="ITagManager_GetTagsState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsStateResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_TurnScanOn_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOn" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_TurnScanOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOnResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_TurnScanOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOff" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_TurnScanOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOffResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ChangeOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValue" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_ChangeOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_GetOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValue" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManager_GetOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmManager_GetAlarmsForTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsForTag" />
  </wsdl:message>
  <wsdl:message name="IAlarmManager_GetAlarmsForTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsForTagResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmManager_AddAlarmForTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmForTag" />
  </wsdl:message>
  <wsdl:message name="IAlarmManager_AddAlarmForTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmForTagResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmManager_RemoveAlarmForTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarmForTag" />
  </wsdl:message>
  <wsdl:message name="IAlarmManager_RemoveAlarmForTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarmForTagResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationManager">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/Login" message="tns:IAuthenticationManager_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/LoginResponse" message="tns:IAuthenticationManager_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/Register" message="tns:IAuthenticationManager_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/RegisterResponse" message="tns:IAuthenticationManager_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/Logout" message="tns:IAuthenticationManager_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/LogoutResponse" message="tns:IAuthenticationManager_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITagManager">
    <wsdl:operation name="AddDigitalInputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagManager/AddDigitalInputTag" message="tns:ITagManager_AddDigitalInputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagManager/AddDigitalInputTagResponse" message="tns:ITagManager_AddDigitalInputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagManager/AddDigitalOutputTag" message="tns:ITagManager_AddDigitalOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagManager/AddDigitalOutputTagResponse" message="tns:ITagManager_AddDigitalOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogInputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagManager/AddAnalogInputTag" message="tns:ITagManager_AddAnalogInputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagManager/AddAnalogInputTagResponse" message="tns:ITagManager_AddAnalogInputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagManager/AddAnalogOutputTag" message="tns:ITagManager_AddAnalogOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagManager/AddAnalogOutputTagResponse" message="tns:ITagManager_AddAnalogOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagManager/RemoveTag" message="tns:ITagManager_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagManager/RemoveTagResponse" message="tns:ITagManager_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagsState">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagManager/GetTagsState" message="tns:ITagManager_GetTagsState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagManager/GetTagsStateResponse" message="tns:ITagManager_GetTagsState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDatabaseManager">
    <wsdl:operation name="TurnScanOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/TurnScanOn" message="tns:IDatabaseManager_TurnScanOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/TurnScanOnResponse" message="tns:IDatabaseManager_TurnScanOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnScanOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/TurnScanOff" message="tns:IDatabaseManager_TurnScanOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/TurnScanOffResponse" message="tns:IDatabaseManager_TurnScanOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/ChangeOutputValue" message="tns:IDatabaseManager_ChangeOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/ChangeOutputValueResponse" message="tns:IDatabaseManager_ChangeOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManager/GetOutputValue" message="tns:IDatabaseManager_GetOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManager/GetOutputValueResponse" message="tns:IDatabaseManager_GetOutputValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAlarmManager">
    <wsdl:operation name="GetAlarmsForTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmManager/GetAlarmsForTag" message="tns:IAlarmManager_GetAlarmsForTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmManager/GetAlarmsForTagResponse" message="tns:IAlarmManager_GetAlarmsForTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlarmForTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmManager/AddAlarmForTag" message="tns:IAlarmManager_AddAlarmForTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmManager/AddAlarmForTagResponse" message="tns:IAlarmManager_AddAlarmForTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarmForTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmManager/RemoveAlarmForTag" message="tns:IAlarmManager_RemoveAlarmForTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmManager/RemoveAlarmForTagResponse" message="tns:IAlarmManager_RemoveAlarmForTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthenticationManager" type="tns:IAuthenticationManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationManager/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationManager/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationManager/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ITagManager" type="tns:ITagManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDigitalInputTag">
      <soap:operation soapAction="http://tempuri.org/ITagManager/AddDigitalInputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutputTag">
      <soap:operation soapAction="http://tempuri.org/ITagManager/AddDigitalOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogInputTag">
      <soap:operation soapAction="http://tempuri.org/ITagManager/AddAnalogInputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutputTag">
      <soap:operation soapAction="http://tempuri.org/ITagManager/AddAnalogOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <soap:operation soapAction="http://tempuri.org/ITagManager/RemoveTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsState">
      <soap:operation soapAction="http://tempuri.org/ITagManager/GetTagsState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDatabaseManager" type="tns:IDatabaseManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TurnScanOn">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/TurnScanOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnScanOff">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/TurnScanOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/ChangeOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManager/GetOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAlarmManager" type="tns:IAlarmManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarmsForTag">
      <soap:operation soapAction="http://tempuri.org/IAlarmManager/GetAlarmsForTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlarmForTag">
      <soap:operation soapAction="http://tempuri.org/IAlarmManager/AddAlarmForTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarmForTag">
      <soap:operation soapAction="http://tempuri.org/IAlarmManager/RemoveAlarmForTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseManager">
    <wsdl:port name="BasicHttpBinding_IAuthenticationManager" binding="tns:BasicHttpBinding_IAuthenticationManager">
      <soap:address location="http://localhost:51016/Infrastructure/DatabaseManager.svc/auth" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ITagManager" binding="tns:BasicHttpBinding_ITagManager">
      <soap:address location="http://localhost:51016/Infrastructure/DatabaseManager.svc/tags" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDatabaseManager" binding="tns:BasicHttpBinding_IDatabaseManager">
      <soap:address location="http://localhost:51016/Infrastructure/DatabaseManager.svc/dbmanager" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAlarmManager" binding="tns:BasicHttpBinding_IAlarmManager">
      <soap:address location="http://localhost:51016/Infrastructure/DatabaseManager.svc/alarm" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>